In [170]:
import pandas as pd
import numpy as np
data=pd.read_csv("/content/Marvel Vs DC.csv")
print(data.head())

   ID                              Movie      Year                     Genre  \
0   0                           Eternals     -2021    Action,Adventure,Drama
1   1                               Loki  (2021– )  Action,Adventure,Fantasy
2   2  The Falcon and the Winter Soldier     -2021    Action,Adventure,Drama
3   3                        WandaVision     -2021       Action,Comedy,Drama
4   4            Spider-Man: No Way Home     -2021   Action,Adventure,Sci-Fi

   RunTime Rating   Director  \
0      NaN    NaN  ChloéZhao
1      NaN    NaN        NaN
2   50 min  TV-14        NaN
3  350 min  TV-PG        NaN
4      NaN    NaN   JonWatts

                                               Actor  \
0  AngelinaJolie,GemmaChan,RichardMadden,BarryKeo...
1  TomHiddleston,OwenWilson,SophiaDiMartino,Richa...
2  AnthonyMackie,SebastianStan,WyattRussell,ErinK...
3  ElizabethOlsen,PaulBettany,KathrynHahn,Teyonah...
4        AngourieRice,TomHolland,Zendaya,MarisaTomei

                                         Description  IMDB_Score  Metascore  \
0  The saga of the Eternals, a race of immortal b...         NaN        NaN
1      A new Marvel chapter with Loki at its center.         NaN        NaN
2  Following the events of 'Avengers: Endgame,' S...         7.5        NaN
3  Blends the style of classic sitcoms with the M...         8.1        NaN
4       A continuation of Spider-Man: Far From Home.         NaN        NaN

  USA_Gross Category     Votes
0       NaN   Marvel       NaN
1       NaN   Marvel       NaN
2       NaN   Marvel  1,05,557
3       NaN   Marvel  1,74,710
4       NaN   Marvel       NaN

In [171]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1690 entries, 0 to 1689
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           1690 non-null   int64
 1   Movie        1690 non-null   object
 2   Year         1657 non-null   object
 3   Genre        1683 non-null   object
 4   RunTime      1407 non-null   object
 5   Rating       1463 non-null   object
 6   Director     1474 non-null   object
 7   Actor        1660 non-null   object
 8   Description  1690 non-null   object
 9   IMDB_Score   1486 non-null   float64
 10  Metascore    65 non-null     float64
 11  USA_Gross    64 non-null     object
 12  Category     1690 non-null   object
 13  Votes        1486 non-null   object
dtypes: float64(2), int64(1), object(11)
memory usage: 185.0+ KB

In [172]:
data.isnull().sum()

ID                0
Movie             0
Year             33
Genre             7
RunTime         283
Rating          227
Director        216
Actor            30
Description       0
IMDB_Score      204
Metascore      1625
USA_Gross      1626
Category          0
Votes           204
dtype: int64

In [173]:

#check duplication
duplicate_row=data[data.duplicated()]
data=data.drop(duplicate_row.index)
data = data.drop(columns=['Description'])
print(data.shape)

(1690, 13)

In [174]:
data.columns

Index(['ID', 'Movie', 'Year', 'Genre', 'RunTime', 'Rating', 'Director',
       'Actor', 'IMDB_Score', 'Metascore', 'USA_Gross', 'Category', 'Votes'],
      dtype='object')

In [175]:
#fix null values
columns_to_fill = ['ID', 'Movie', 'Year', 'Genre', 'RunTime', 'Rating', 'Director',
       'Actor', 'IMDB_Score', 'Metascore', 'USA_Gross', 'Category', 'Votes']

# Fill nulls with mode
for col in columns_to_fill:
    data[col] = data[col].fillna(data[col].mode()[0])

# Optional: Check if nulls remain
print(data[columns_to_fill].isnull().sum())
print(data.head())

ID            0
Movie         0
Year          0
Genre         0
RunTime       0
Rating        0
Director      0
Actor         0
IMDB_Score    0
Metascore     0
USA_Gross     0
Category      0
Votes         0
dtype: int64
   ID                              Movie      Year                     Genre  \
0   0                           Eternals     -2021    Action,Adventure,Drama
1   1                               Loki  (2021– )  Action,Adventure,Fantasy
2   2  The Falcon and the Winter Soldier     -2021    Action,Adventure,Drama
3   3                        WandaVision     -2021       Action,Comedy,Drama
4   4            Spider-Man: No Way Home     -2021   Action,Adventure,Sci-Fi

   RunTime Rating   Director  \
0   22 min  TV-PG  ChloéZhao
1   22 min  TV-PG    DanRiba
2   50 min  TV-14    DanRiba
3  350 min  TV-PG    DanRiba
4   22 min  TV-PG   JonWatts

                                               Actor  IMDB_Score  Metascore  \
0  AngelinaJolie,GemmaChan,RichardMadden,BarryKeo...         8.1       70.0
1  TomHiddleston,OwenWilson,SophiaDiMartino,Richa...         8.1       70.0
2  AnthonyMackie,SebastianStan,WyattRussell,ErinK...         7.5       70.0
3  ElizabethOlsen,PaulBettany,KathrynHahn,Teyonah...         8.1       70.0
4        AngourieRice,TomHolland,Zendaya,MarisaTomei         8.1       70.0

  USA_Gross Category     Votes
0    $0.53M   Marvel        22
1    $0.53M   Marvel        22
2    $0.53M   Marvel  1,05,557
3    $0.53M   Marvel  1,74,710
4    $0.53M   Marvel        22

In [176]:
#Remove outlayout(z_score)

from scipy.stats import zscore

numeric_cols = data.select_dtypes(include=[np.number]).columns
z_scores = zscore(data[numeric_cols])
z_scores_df = pd.DataFrame(z_scores, columns=numeric_cols)
outliers = (np.abs(z_scores_df) > 3).any(axis=1)
data = data[~outliers]
data.reset_index(drop=True, inplace=True)

print(data.head())
print("Original shape:", data.shape)
print("Cleaned shape:", data.shape)

   ID                              Movie      Year                     Genre  \
0   0                           Eternals     -2021    Action,Adventure,Drama
1   1                               Loki  (2021– )  Action,Adventure,Fantasy
2   2  The Falcon and the Winter Soldier     -2021    Action,Adventure,Drama
3   3                        WandaVision     -2021       Action,Comedy,Drama
4   4            Spider-Man: No Way Home     -2021   Action,Adventure,Sci-Fi

   RunTime Rating   Director  \
0   22 min  TV-PG  ChloéZhao
1   22 min  TV-PG    DanRiba
2   50 min  TV-14    DanRiba
3  350 min  TV-PG    DanRiba
4   22 min  TV-PG   JonWatts

                                               Actor  IMDB_Score  Metascore  \
0  AngelinaJolie,GemmaChan,RichardMadden,BarryKeo...         8.1       70.0
1  TomHiddleston,OwenWilson,SophiaDiMartino,Richa...         8.1       70.0
2  AnthonyMackie,SebastianStan,WyattRussell,ErinK...         7.5       70.0
3  ElizabethOlsen,PaulBettany,KathrynHahn,Teyonah...         8.1       70.0
4        AngourieRice,TomHolland,Zendaya,MarisaTomei         8.1       70.0

  USA_Gross Category     Votes
0    $0.53M   Marvel        22
1    $0.53M   Marvel        22
2    $0.53M   Marvel  1,05,557
3    $0.53M   Marvel  1,74,710
4    $0.53M   Marvel        22
Original shape: (1649, 13)
Cleaned shape: (1649, 13)

In [177]:
data.isnull().sum()

ID            0
Movie         0
Year          0
Genre         0
RunTime       0
Rating        0
Director      0
Actor         0
IMDB_Score    0
Metascore     0
USA_Gross     0
Category      0
Votes         0
dtype: int64

In [178]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

data['Votes'] = data["Votes"].astype(str).str.replace(',', '', regex=False).astype(float)

def clean_gross(gross):
    if isinstance(gross, str):
        gross = gross.replace('$', '').strip()
        if 'M' in gross:
            return float(gross.replace('M', '')) * 1e6
        elif 'K' in gross:
            return float(gross.replace('K', '')) * 1e3
        else:
            try:
                return float(gross)
            except ValueError:
                return None
    return gross

data["USA_Gross"] = data["USA_Gross"].apply(clean_gross)
data["Year"] = pd.to_numeric(data["Year"].astype(str).str.extract('(\d{4})')[0], errors='coerce')

cat_cols = ['Movie', 'Genre', 'Rating', 'Director', 'Actor', 'Category']
le = LabelEncoder()
for col in cat_cols:
    data[col] = le.fit_transform(data[col].astype(str))

data["RunTime"] = pd.to_numeric(data["RunTime"].astype(str).str.extract('(\d+)')[0], errors='coerce')

cols_to_check = ["Year", "RunTime", "Votes", "IMDB_Score", "Metascore", "USA_Gross"]
for col in cols_to_check:
    data[col] = pd.to_numeric(data[col], errors='coerce')
    if data[col].isnull().sum() > 0:
        mode_val = data[col].mode().iloc[0]
        data[col].fillna(mode_val, inplace=True)
    data[col] = data[col].astype(int)

print(data.dtypes)
print(data.head())

ID            int64
Movie         int64
Year          int64
Genre         int64
RunTime       int64
Rating        int64
Director      int64
Actor         int64
IMDB_Score    int64
Metascore     int64
USA_Gross     int64
Category      int64
Votes         int64
dtype: object
   ID  Movie  Year  Genre  RunTime  Rating  Director  Actor  IMDB_Score  \
0   0    149  2021      4       22      11        65     19           8
1   1    202  2021      5       22      11        89    674           8
2   2    271  2021      4       50       8        89     26           7
3   3    310  2021      9      350      11        89    158           8
4   4    245  2021      6       22      11       199     20           8

   Metascore  USA_Gross  Category   Votes
0         70     530000         1      22
1         70     530000         1      22
2         70     530000         1  105557
3         70     530000         1  174710
4         70     530000         1      22

/tmp/ipython-input-3675633208.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(mode_val, inplace=True)

In [179]:
x=data.drop(["Category"],axis=1)
y=data["Category"]

In [180]:
#anova
from sklearn.feature_selection import SelectKBest, f_classif
numeric_col_x=x.select_dtypes(include='number').columns

selector=SelectKBest(score_func=f_classif, k=7)
selector.fit(x[numeric_col_x],y)
selected_cols=numeric_col_x[selector.get_support()]
x_anova=x[selected_cols]
print(x_anova.head())

   ID  Year  Genre  RunTime  Rating  Actor  USA_Gross
0   0  2021      4       22      11     19     530000
1   1  2021      5       22      11    674     530000
2   2  2021      4       50       8     26     530000
3   3  2021      9      350      11    158     530000
4   4  2021      6       22      11     20     530000

In [181]:
#chi_square
from sklearn.feature_selection import SelectKBest, f_classif, chi2
categorical_cols=x.select_dtypes(include="number").columns

x_categorical=x[categorical_cols]
x_categorical_clipped=x_categorical.clip(lower=0)

selector = SelectKBest(score_func=chi2, k=7)
selector.fit(x_categorical_clipped, y)

selected_cols = categorical_cols[selector.get_support()]
x_chi2 = x[selected_cols]

print(x_chi2.head())

   ID  Movie  Genre  RunTime  Actor  USA_Gross   Votes
0   0    149      4       22     19     530000      22
1   1    202      5       22    674     530000      22
2   2    271      4       50     26     530000  105557
3   3    310      9      350    158     530000  174710
4   4    245      6       22     20     530000      22

In [182]:
#create new column withh chi2 and anova
x_final = pd.concat([x_anova, x_chi2], axis=1)
x_final = x_final.loc[:, ~x_final.columns.duplicated()]
print(x_final.head())

   ID  Year  Genre  RunTime  Rating  Actor  USA_Gross  Movie   Votes
0   0  2021      4       22      11     19     530000    149      22
1   1  2021      5       22      11    674     530000    202      22
2   2  2021      4       50       8     26     530000    271  105557
3   3  2021      9      350      11    158     530000    310  174710
4   4  2021      6       22      11     20     530000    245      22

In [183]:
x_final.columns

Index(['ID', 'Year', 'Genre', 'RunTime', 'Rating', 'Actor', 'USA_Gross',
       'Movie', 'Votes'],
      dtype='object')

In [184]:
#skew normalization
from sklearn.preprocessing import PowerTransformer

pt=PowerTransformer()
cols=['ID', 'Movie', 'Year', 'Genre', 'RunTime', 'Actor', 'USA_Gross',
       'Votes']
x_final[cols]=pt.fit_transform(x_final[cols])
skew_values=x_final[cols].skew()

print(skew_values)
print(x_final.head())

ID          -0.297072
Movie       -0.001279
Year        -0.038718
Genre       -0.158675
RunTime      0.115640
Actor       -0.316828
USA_Gross    0.000000
Votes        0.002729
dtype: float64
         ID      Year     Genre   RunTime  Rating     Actor  USA_Gross  \
0 -2.170548  1.747919 -1.335669 -0.593160      11 -1.799933        0.0
1 -2.159934  1.747919 -1.209301 -0.593160      11  1.043690        0.0
2 -2.150708  1.747919 -1.335669  0.828325       8 -1.728364        0.0
3 -2.142283  1.747919 -0.797985  5.157553      11 -0.869238        0.0
4 -2.134406  1.747919 -1.094498 -0.593160      11 -1.789205        0.0

      Movie     Votes
0  1.356532 -1.317691
1  1.682679 -1.317691
2  2.011022  2.209215
3  2.165773  2.382813
4  1.896809 -1.317691

/usr/local/lib/python3.11/dist-packages/numpy/_core/_methods.py:188: RuntimeWarning: overflow encountered in multiply
  x = um.multiply(x, x, out=x)

In [185]:
#scalling
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

# Convert x_final back to DataFrame before scaling
x_final = pd.DataFrame(x_final, columns=['ID', 'Year', 'Genre', 'RunTime', 'Rating', 'Actor', 'USA_Gross',
       'Movie', 'Votes'])
x_final_scaled = scaler.fit_transform(x_final)
x_final_scaled = pd.DataFrame(x_final_scaled, columns=x_final.columns)
print(x_final_scaled.head())

         ID     Year     Genre   RunTime    Rating     Actor  USA_Gross  \
0  0.000000  0.94802  0.179631  0.328523  0.733333  0.081906        0.0
1  0.002850  0.94802  0.208903  0.328523  0.733333  0.884890        0.0
2  0.005328  0.94802  0.179631  0.467701  0.533333  0.102115        0.0
3  0.007591  0.94802  0.304183  0.891578  0.733333  0.344716        0.0
4  0.009706  0.94802  0.235497  0.328523  0.733333  0.084935        0.0

      Movie     Votes
0  0.818292  0.134841
1  0.887730  0.134841
2  0.957635  0.826616
3  0.990582  0.860666
4  0.933319  0.134841

In [186]:
#join the data
new_data=pd.concat([x_final_scaled,y],axis=1)
print(new_data.head())

         ID     Year     Genre   RunTime    Rating     Actor  USA_Gross  \
0  0.000000  0.94802  0.179631  0.328523  0.733333  0.081906        0.0
1  0.002850  0.94802  0.208903  0.328523  0.733333  0.884890        0.0
2  0.005328  0.94802  0.179631  0.467701  0.533333  0.102115        0.0
3  0.007591  0.94802  0.304183  0.891578  0.733333  0.344716        0.0
4  0.009706  0.94802  0.235497  0.328523  0.733333  0.084935        0.0

      Movie     Votes  Category
0  0.818292  0.134841         1
1  0.887730  0.134841         1
2  0.957635  0.826616         1
3  0.990582  0.860666         1
4  0.933319  0.134841         1

In [187]:
from sklearn.model_selection import train_test_split
x_new=new_data.drop("Category",axis=1)
y_new=new_data["Category"]

x_train, x_test, y_train,y_test=train_test_split(x_new,y_new,test_size=0.2,random_state=42)

print(x_train.head())
print(y_train.head())

            ID      Year     Genre   RunTime    Rating     Actor  USA_Gross  \
584   0.480310  0.494972  0.584151  0.328523  0.200000  0.942216        0.0
63    0.094837  0.826817  0.817253  0.724141  0.533333  0.210352        0.0
1182  0.788316  0.696541  0.584151  0.328523  0.733333  0.440823        0.0
1640  0.996510  0.738234  0.146774  0.436318  0.733333  0.836774        0.0
1466  0.919449  0.804000  0.179631  0.436318  0.533333  0.691519        0.0

         Movie     Votes
584   0.231513  0.361322
63    0.971617  0.532722
1182  0.646615  0.433794
1640  0.174109  0.549238
1466  0.588760  0.512794
584     0
63      1
1182    0
1640    0
1466    0
Name: Category, dtype: int64

In [188]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)
predicted=model.predict(x_train)

In [189]:
new_data.tail()

,ID,Year,Genre,RunTime,Rating,Actor,USA_Gross,Movie,Votes,Category
1644,0.998255,0.826817,0.179631,0.436318,0.533333,0.151254,0.0,0.373437,0.533752,0
1645,0.998692,0.804000,0.179631,0.436318,0.733333,0.692491,0.0,0.588760,0.494040,0
1646,0.999128,0.804000,0.179631,0.436318,0.733333,0.692491,0.0,0.588760,0.479283,0
1647,0.999564,0.804000,0.179631,0.436318,0.733333,0.692491,0.0,0.588760,0.477934,0
1648,1.000000,0.804000,0.179631,0.436318,0.733333,0.692491,0.0,0.588760,0.478014,0

In [190]:
zn=model.predict([[1.000001,0.804001,0.179631,0.436318,0.733333,0.692491,0.0,0.588760,0.533752]])
print(zn)

[0]

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [191]:
from sklearn.metrics import top_k_accuracy_score, accuracy_score
print(accuracy_score(y_train,predicted))

0.9711902956785443